body {
    font-family: 'Roboto', sans-serif;
    background: #1F2937;
}

.header {
    background:#1F2937;
    color:#F9FAF8;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:12px;
    padding:0 200px;
}

.header-link {
    color: #ccced1;
}

#logo {
    margin-right:auto;
}

.main-pic {
    width:450px;
    border:#F9FAF8 solid 3px;
}

.section-one {
    display: flex;
    align-items: center;
    padding:36px 200px;
}

button {
    margin-top:8px;
    padding:8px;
    background: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
}

button:hover {
    background: #2757a5;
    color:#afafaf;
}

.main-text {
    color:#F9FAF8;
    font-size:48px;
    font-weight: 900;
}

.sub-text {
    padding-top: 8px;
    padding-right:80px;
    color:#ccced1;
}

.section-two {
    background:#F9FAFB;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    gap:20px;
    flex-wrap: wrap;
    padding:36px 200px;
}

.info-title {
    font-size:36px;
    font-weight: 900;
    color: #1F2937;
    padding:36px;
}
.sub-pic {
    width:150px;
    height:150px;
    border: #3882F6 solid 3px;
    border-radius: 8px;
}

.card {
    display:flex;
    gap:100px;
    align-items:center;
}

.info-text {
    margin-top:8px;
    text-align: center;
    color:#1F2937;
}

.section-three {
    background:#e9e8e8;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:36px 200px;
}

#quote {
    font-size:36px;
    font-style: italic;
    font-weight: 100;
    color:#1F2937;
    padding:120px;
    display:flex;
    flex-direction:column;
}

#author {
    font-size:20px;
    font-weight:700;
    font-style:normal;
    color:#1F2937;
    align-self:flex-end;
    margin-top:8px;
}